[Unit]
Description=Alarm

[Service]
ExecStart=/bin/bash /opt/alarm.sh
ExecStartPost=/usr/bin/systemctl restart start

ExecStopPost=/usr/bin/systemctl restart start


[Install]
WantedBy=multi-user.target
