[Unit]
Description=PcManFM X11
After=rc-local.service

[Service]
ExecStart=/usr/bin/xinit /usr/bin/pcmanfm -- -nocursor
ExecStop=/usr/bin/systemctl start start

[Install]
WantedBy=multi-user.target
