[Unit]
Description=MediaServer App
After=rc-local.service

[Service]
ExecStart=/usr/bin/MediaServer
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
